@charset "UTF-8";

@font-face {
  font-family: "Roboto-Black";
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Light";
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Medium";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Thin";
  font-display: swap;
  src: url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus {
  outline: 0;
}

img,
audio,
video {
  max-width: 100%;
  height: auto;
}

audio,
canvas,
iframe,
video,
img,
svg {
  vertical-align: middle;
}

iframe {
  border: 0;
}

textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input,
textarea,
select,
button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

body {
  font-family: 'Roboto', Arial;
}

.container {
  max-width: 965px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  width: 100%;
  height: 100vh;
}

.header__container {
  width: 100%;
  background-color: #282a2e;
}

h1 {
  font-size: calc(60px + 0 * ((100vw - 320px) / 980));
  font-family: 'Roboto-Light';
  color: #fff;
}

h2 {
  font-size: 40px;
  font-family: 'Roboto-Medium';
  color: #fff;
}

.logo {
  position: relative;
}

.logo:before {
  content: '';
  display: block;
  width: 35px;
  height: 23px;
  position: absolute;
  top: 4px;
  left: 5px;
  background-image: url("/images/logo.png");
}

.logo__text {
  margin-left: 50px;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 24px;
}

.header__text {
  height: calc(100% - 70px);
}

.header__text .icons {
  position: absolute;
  display: block;
  height: 80%;
  bottom: 0;
  right: 20px;
}

.header__text > .container {
  height: calc(100% - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.header__navigation {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  position: relative;
}

.nav {
  width: 100%;
}

.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar img {
  height: 16px;
}

.navbar > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-link {
  color: #fff;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 16px;
}

.navbar-link:hover {
  color: #7fa242;
}

.block-for-slider {
  width: 100%;
  margin: 0 auto;
  z-index: -1;
  position: absolute;
  top: 70px;
  height: 100vh;
}

.viewport {
  width: 100%;
  display: table;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slidewrapper {
  position: relative;
  width: calc(100% * 4);
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.slidewrapper li {
  width: calc(100%/4);
  list-style: none;
  display: inline;
  float: left;
}

.slide-img {
  width: 100%;
  height: 100vh;
}

#prev-btn,
#next-btn {
  position: absolute;
  width: 25px;
  height: 25px;
  top: calc(50% + 50px);
  background: url("../images/circled-right.png") no-repeat;
  background-size: cover;
}

#prev-btn:hover,
#next-btn:hover {
  cursor: pointer;
}

#prev-btn {
  left: 20px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

#next-btn {
  right: 20px;
}

.main__section {
  margin: 0 auto;
  padding: 50px 5px;
  text-align: center;
  background-color: #282a2e;
  color: #fff;
}

h3 {
  font-family: 'Roboto-Light', sans-serif;
  font-size: 36px;
  color: #fff;
}

h4 {
  font-family: 'Roboto-Light', sans-serif;
  font-size: 24px;
  color: #fff;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 100%;
  margin-top: 50px;
  padding: 0 5%;
}

.services__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  width: 23%;
}

.element-image {
  height: 100px;
  width: 100px;
  line-height: 100px;
  border-radius: 50%;
  background-color: #313338;
  margin-bottom: 15px;
}

.text-regular {
  font-family: 'Arial', sans-serif;
  margin-top: 13px;
}

.youLike {
  background-image: url("../images/bg.jpg");
  background-attachment: fixed;
  padding: 150px 5px;
}

.btn {
  display: inline-block;
  width: 131px;
  height: 46px;
  line-height: 46px;
  margin-top: 35px;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  background-color: #1bbc9d;
  border-bottom: 4px solid #1f937d;
}

.btn:hover {
  background-color: #b0cd3b;
  border-bottom: 4px solid #798f21;
}

.tabs__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 21px 0px 45px 0px;
}

.tabs__caption li {
  margin-right: 6px;
  background-color: #313338;
  font-size: 14px;
  font-family: 'Roboto-Light';
  cursor: pointer;
  display: block;
  width: 100px;
  height: 35px;
  line-height: 35px;
  text-align: center;
}

.tabs__caption li.active {
  background-color: #1bbc9d;
  border-bottom: 2px solid #1f937d;
}

.tabs__content {
  display: none;
}

.tabs__content.active {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  margin-bottom: 45px;
}

.element-description {
  display: none;
  position: absolute;
  top: 10%;
  left: 10%;
  height: 80%;
  width: 80%;
  margin: 0 auto;
  background-color: #232323;
}

.like-comments {
  font-size: 14px;
  font-family: 'Roboto-Medium';
}

.tabs__content-element {
  position: relative;
  height: 225px;
}

.tabs__content-img {
  height: 100%;
  width: 100%;
}

.tabs__content-element:hover .element-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description-caption {
  font-size: 18px;
  font-family: 'Roboto-Medium';
  margin-bottom: 15px;
}

.description-text {
  font-size: 14px;
  font-family: 'Roboto-Light';
  margin-bottom: 25px;
}

.like-comment a {
  color: #fff;
}

.like-comment span {
  margin-left: 32px;
  position: relative;
  cursor: pointer;
  font-size: 14px;
}

.comments:before {
  content: '';
  display: block;
  position: absolute;
  left: -29px;
  height: 20px;
  width: 20px;
  background-image: url("../images/Chat.png");
}

.likes {
  margin-left: 25px;
  position: relative;
}

.likes:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -25px;
  height: 17px;
  width: 20px;
  background-image: url("../images/Heart.png");
}

.load {
  margin: 0 auto;
  font-size: 16px;
  font-family: 'Roboto-Light';
  position: relative;
  color: #fff;
}

.load:after {
  content: '';
  display: block;
  position: absolute;
  top: 25px;
  left: 20px;
  height: 9px;
  width: 33px;
  background-image: url("../images/load.png");
}

.main-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
}

.price-card {
  width: 28%;
  padding: 40px 32px 100px 32px;
  border-radius: 4px;
  background-color: #313338;
  text-align: center;
  position: relative;
  font-family: 'Open-Sans';
  font-size: 16px;
}

.price-card strong {
  font-family: 'Open-Sans Bold';
}

.price-card .btn {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 65px);
}

.price-card p:nth-child(3) {
  margin-top: 115px;
}

.info {
  margin: 30px 0;
  font-size: 16px;
}

.price-card:hover {
  background-color: #f4f4f4;
  color: #000;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform linear 0.3s;
  transition: -webkit-transform linear 0.3s;
  -o-transition: transform linear 0.3s;
  transition: transform linear 0.3s;
  transition: transform linear 0.3s, -webkit-transform linear 0.3s;
}

.price {
  margin: 40px 0px;
  position: absolute;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  width: 100%;
  background-color: #1bbc9d;
}

h5 {
  font-size: 20px;
}

.secondary-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
}

.secondary-price .price-card {
  width: 22%;
  background-color: #f4f4f4;
  color: #000;
}

.secondary-price .price-card .price {
  color: #fff;
}

.secondary-price .price-card:nth-child(1) .price {
  background-color: #424242;
  border-bottom: 3px solid #2d2d2d;
}

.secondary-price .price-card:nth-child(1) .btn {
  background-color: #e4e4e4;
  color: #000;
  border-bottom: 4px solid #c1c1c1;
}

.secondary-price .price-card:nth-child(2) .price {
  background-color: #55857b;
  border-bottom: 3px solid #55857b;
}

.secondary-price .price-card:nth-child(2) .btn {
  background-color: #74b0a4;
  border-bottom: 4px solid #55857b;
}

.secondary-price .price-card:nth-child(3) .price {
  background-color: #b6c380;
  border-bottom: 3px solid #8e9865;
}

.secondary-price .price-card:nth-child(3) .btn {
  background-color: #b6c380;
  border-bottom: 4px solid #8e9865;
}

.secondary-price .price-card:nth-child(4) .price {
  background-color: #e4e4e4;
  border-bottom: 3px solid #a7a7a7;
  color: #74b0a4;
}

.secondary-price .price-card:nth-child(4) .btn {
  background-color: #424242;
  border-bottom: 4px solid #2d2d2d;
}

.aboutUs {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line-header hr {
  width: 100%;
  background-color: #424242;
}

.line-header h5 {
  width: 50%;
  margin: 0 40px;
}

h5 {
  font-size: 18px;
  font-family: 'Roboto-Medium';
}

.about {
  color: #717171;
  font-size: 13px;
  font-family: 'Arial';
  width: 50%;
  margin: 40px 0 20px 0;
  position: relative;
}

.about:before {
  content: '\“';
  font-size: 200px;
  position: absolute;
  top: calc(50% - 70px);
  left: -65px;
}

.about:after {
  content: '\”';
  font-size: 200px;
  position: absolute;
  top: calc(50% - 70px);
  right: -65px;
}

.perry {
  color: #b0cd3b;
  text-transform: uppercase;
  font-size: 13px;
  font-family: 'Arial';
}

.about__us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 50px 0 50px 0;
}

.about__us-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 22%;
  margin-bottom: 40px;
}

.about__us-container img {
  width: 100%;
  margin-bottom: 20px;
}

h6 {
  font-size: 16px;
  font-family: 'Roboto-Medium';
}

.about__us-container p {
  font-size: 13px;
  font-family: 'Roboto-Light';
  margin-top: 15px;
  text-align: center;
}

.our__skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 10px 70px 10px;
}

.gauge {
  width: 100%;
  max-width: 150px;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  color: #fff;
}

.gauge__body {
  width: 150px;
  height: 0;
  padding-bottom: 50%;
  background: #424242;
  position: relative;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  overflow: hidden;
}

.gauge__fill {
  position: absolute;
  top: 95%;
  left: 0;
  width: inherit;
  height: 100%;
  background: -o-linear-gradient(305deg, #aaca29 0%, #1bbc9d 100%);
  background: linear-gradient(145deg, #aaca29 0%, #1bbc9d 100%);
  -webkit-transform-origin: center top;
      -ms-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: rotate(0turn);
      -ms-transform: rotate(0turn);
          transform: rotate(0turn);
  -webkit-transition: -webkit-transform 2s ease-out;
  transition: -webkit-transform 2s ease-out;
  -o-transition: transform 2s ease-out;
  transition: transform 2s ease-out;
  transition: transform 2s ease-out, -webkit-transform 2s ease-out;
}

.gauge__cover {
  width: 75%;
  height: 150%;
  background: #282a2e;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  /* Text */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto-Bold';
  font-size: 24px;
}

.gauge__description {
  margin-top: 10px;
  font-size: 13px;
  font-family: 'Roboto-Medium';
  text-transform: uppercase;
}

.section-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 50px 0;
  text-align: left;
}

.contact-form {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  position: relative;
}

.contact-form h5 {
  text-transform: uppercase;
  border-bottom: 2px solid #424242;
  width: 100%;
  padding-bottom: 15px;
}

.contact-form input {
  width: 48%;
  margin: 15px 0;
  background-color: #222327;
  border: none;
  height: 35px;
  padding: 5px 10px 5px 10px;
  color: #fff;
}

.contact-form textarea {
  width: 100%;
  margin-bottom: 20px;
  background-color: #222327;
  border: none;
  padding: 5px 10px 5px 10px;
  color: #fff;
  font-size: 14px;
}

.contact-form .btn {
  height: 37px;
  line-height: 37px;
  width: 100px;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.more__info {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-bottom: 60px;
  color: #424242;
  position: relative;
}

.more__info h5 {
  text-transform: uppercase;
  border-bottom: 2px solid #424242;
  width: 100%;
  color: #fff;
  padding-bottom: 15px;
}

.more__info .contact-info {
  margin: 30px 0;
  word-wrap: break-word;
}

.more__info .btn {
  height: 37px;
  width: 100px;
  line-height: 37px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact-info p {
  width: 100%;
}

.connect {
  padding-bottom: 100px;
}

.social {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.social-icon {
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 15px;
  margin-top: 10px;
  background-size: contain;
}

.social-icon:hover {
  border: 4px solid #282a2e;
}

.git {
  background-image: url(../images/social/github.png);
}

.git:hover {
  background-image: url(../images/social/c-github.png);
}

.flickr {
  background-image: url(../images/social/flickr.png);
}

.flickr:hover {
  background-image: url(../images/social/c-flickr.png);
}

.vimeo {
  background-image: url(../images/social/vimeo.png);
}

.vimeo:hover {
  background-image: url(../images/social/c-vimeo.png);
}

.twitter {
  background-image: url(../images/social/twitter.png);
}

.twitter:hover {
  background-image: url(../images/social/c-twitter.png);
}

.face {
  background-image: url(../images/social/facebook.png);
}

.face:hover {
  background-image: url(../images/social/c-facebook1.png);
}

.google {
  background-image: url(../images/social/google+.png);
}

.google:hover {
  background-image: url(../images/social/c-google+.png);
}

.pinterest {
  background-image: url(../images/social/pinterest.png);
}

.pinterest:hover {
  background-image: url(../images/social/c-pinterest.png);
}

.tumblr {
  background-image: url(../images/social/tumblr.png);
}

.tumblr:hover {
  background-image: url(../images/social/c-tumblr.png);
}

.section-flex {
  margin: 10px 0;
}

.section-flex-container {
  width: 27%;
  color: #747474;
}

.section-flex-container a {
  color: #747474;
  cursor: pointer;
}

.section-flex-container ul > li {
  margin: 25px 0;
}

.tweets-msg li:nth-child(even) a {
  color: #1bbc9d;
  text-decoration: underline;
}

.tweets-msg li:nth-child(odd) {
  margin-left: 30px;
  position: relative;
}

.tweets-msg li:nth-child(odd):before {
  content: '';
  display: block;
  width: 18px;
  height: 16px;
  background-image: url(../images/twitter.png);
  position: absolute;
  left: -30px;
}

.section-flex-container h5 {
  text-align: left;
  text-transform: uppercase;
  border-bottom: 2px solid #424242;
  width: 100%;
  padding-bottom: 15px;
  color: #fff;
}

.photo-stream {
  width: 100%;
  margin-top: 15px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 1fr);
}

.footer {
  background-color: #222327;
  color: #989898;
  padding: 50px 0;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-text .more-text {
  margin-left: 30px;
}

@media (max-width: 767px) {
  .header__text > .container {
    padding: 0 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .navigation__menu-burger {
    position: absolute;
    width: 40px;
    height: 70px;
    right: 20px;
    top: -35px;
    display: block;
    margin-left: 10px;
  }

  .navigation__menu-burger.open-menu span {
    opacity: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  .navigation__menu-burger.open-menu:before {
    -webkit-transform: rotate(38deg);
        -ms-transform: rotate(38deg);
            transform: rotate(38deg);
    top: 34px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .navigation__menu-burger.open-menu:after {
    -webkit-transform: rotate(-38deg);
        -ms-transform: rotate(-38deg);
            transform: rotate(-38deg);
    bottom: 33px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .navigation__menu-burger span,
  .navigation__menu-burger:after,
  .navigation__menu-burger:before {
    height: 3px;
    width: 100%;
    position: absolute;
    background: -o-linear-gradient(305deg, #aaca29 0%, #1bbc9d 100%);
    background: linear-gradient(145deg, #aaca29 0%, #1bbc9d 100%);
    margin: 0 auto;
  }

  .navigation__menu-burger span {
    top: 35px;
  }

  .navigation__menu-burger:after,
  .navigation__menu-burger:before {
    content: '';
  }

  .navigation__menu-burger:after {
    bottom: 22px;
  }

  .navigation__menu-burger:before {
    top: 25px;
  }

  .navbar {
    display: block;
    position: absolute;
    top: 35px;
    right: 0;
    background-color: #282a2e;
    opacity: 0.95;
    overflow: auto;
    width: 0;
    right: -100%;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .navbar.open-menu {
    width: 56%;
    right: 0;
  }

  .navbar li {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 16px;
    margin: 20px 0;
  }

  .navbar li:hover {
    background: -o-linear-gradient(305deg, #aaca29 0%, #1bbc9d 100%);
    background: linear-gradient(145deg, #aaca29 0%, #1bbc9d 100%);
  }

  .navbar-link:hover {
    color: #000;
  }

  .header__text .icons {
    display: none;
  }

  .ourServices {
    padding: 20px 5px;
  }

  .services {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 20px;
  }

  .services__element {
    width: 45%;
  }

  .youLike {
    padding: 50px 5px;
  }

  .youLike > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .tabs__content-element {
    height: 200px;
  }

  .tabs__content.active {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .tabs__caption li {
    font-size: 10px;
  }

  .description-caption {
    font-size: 15px;
  }

  .description-text {
    font-size: 13px;
    margin-bottom: 15px;
  }

  .like-comment span {
    font-size: 12px;
  }

  .price-card {
    padding: 20px 20px 100px 20px;
  }

  .main-price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-price .price-card {
    width: 80%;
    margin-top: 20px;
  }

  .main-price .price-card p:nth-child(3) {
    margin-top: 70px;
  }

  .info {
    margin: 15px 0;
  }

  .price {
    margin: 20px 0px;
  }

  .secondary-price {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .secondary-price .price-card {
    width: 47%;
    margin-top: 20px;
  }

  .secondary-price .price-card p:nth-child(3) {
    margin-top: 70px;
  }

  .price-card {
    padding: 20px 40px 80px 40px;
  }

  .price-card:hover {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .about__us {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .about__us-container {
    width: 40%;
  }

  .our__skills {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .gauge {
    margin-top: 40px;
  }

  .contact-form .btn {
    left: calc(50% - 50px);
  }

  .more__info .btn {
    bottom: -30px;
    left: calc(50% - 50px);
  }

  .social {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .social .social-container {
    margin: 15px 10px;
  }

  .section-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .contact-form {
    width: 80%;
  }

  .more__info {
    width: 80%;
    margin-top: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .section-flex-container {
    width: 60%;
  }

  .section-flex-container h5 {
    text-align: center;
  }

  .upper-footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer {
    padding: 25px 5px;
  }

  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer-text .more-text {
    margin-top: 15px;
  }
}

@media (max-width: 567px) {
  .tabs__content-element {
    height: 150px;
  }
}

@media (max-width: 550px) {
  .secondary-price {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .secondary-price .price-card {
    width: 80%;
  }
}

@media (max-width: 520px) {
  .about__us-container {
    width: 70%;
  }

  .our__skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 350px) {
  .price-card {
    margin: 0 50px;
  }
}

.webp .logo:before{ background-image: url(/images/logo.webp); }

.webp #prev-btn, .webp #next-btn{ background: url(../images/circled-right.webp) no-repeat; }

.webp .youLike{ background-image: url(../images/bg.webp); }

.webp .comments:before{ background-image: url(../images/Chat.webp); }

.webp .likes:before{ background-image: url(../images/Heart.webp); }

.webp .load:after{ background-image: url(../images/load.webp); }

.webp .git{ background-image: url(../images/social/github.webp); }

.webp .git:hover{ background-image: url(../images/social/c-github.webp); }

.webp .flickr{ background-image: url(../images/social/flickr.webp); }

.webp .flickr:hover{ background-image: url(../images/social/c-flickr.webp); }

.webp .vimeo{ background-image: url(../images/social/vimeo.webp); }

.webp .vimeo:hover{ background-image: url(../images/social/c-vimeo.webp); }

.webp .twitter{ background-image: url(../images/social/twitter.webp); }

.webp .twitter:hover{ background-image: url(../images/social/c-twitter.webp); }

.webp .face{ background-image: url(../images/social/facebook.webp); }

.webp .face:hover{ background-image: url(../images/social/c-facebook1.webp); }

.webp .google{ background-image: url(../images/social/google+.webp); }

.webp .google:hover{ background-image: url(../images/social/c-google+.webp); }

.webp .pinterest{ background-image: url(../images/social/pinterest.webp); }

.webp .pinterest:hover{ background-image: url(../images/social/c-pinterest.webp); }

.webp .tumblr{ background-image: url(../images/social/tumblr.webp); }

.webp .tumblr:hover{ background-image: url(../images/social/c-tumblr.webp); }

.webp .tweets-msg li:nth-child(odd):before{ background-image: url(../images/twitter.webp); }