<section class="main__section">
	<div class="container">
		<h3>Contact Us</h3>
		<div class="section-flex">
		<form action="" class="contact-form">
			<h5>Mail</h5>
			<input type="text" placeholder="Name">
			<input type="text" placeholder="Mail">
			<textarea name="" id="" cols="30" rows="8" placeholder="Message"></textarea>
			<a href="#" class="btn">Submit mail</a>
		</form>
		<div class="more__info">
			<h5>More info</h5>
			<div class="contact-info">
			<p class="more-text">2 (555) 888 555 03 20</p>
			<p class="more-text">info@domain.com</p>
			<p class="more-text">skype: username</p>
			</div>
			<div class="contact-info">
			<p class="more-text">John Dowl</p>
			<p class="more-text">Salt Talke city. UT</p>
			<p class="more-text">87550</p>
			<a href="#" class="btn">Purchaise</a>
			</div>
		</div>
		</div>
	</div>
</section>


<section class="youLike connect">
	<div class="container">
	<h1>Connect with us</h1>
	<h2>Follow Us On Social Networks</h2>
	<div class="social">
		<a href="#" class="social-icon git"></a>
		<a href="#" class="social-icon flickr"></a>
		<a href="#" class="social-icon vimeo"></a>
		<a href="#" class="social-icon twitter"></a>
		<a href="#" class="social-icon face"></a>
		<a href="#" class="social-icon google"></a>
		<a href="#" class="social-icon pinterest"></a>
		<a href="#" class="social-icon tumblr"></a>
	</div>
	</div>
</section>