<section class="main__section">
	<div class="container">
		<div class="section-flex upper-footer">
			<div class="section-flex-container">
				<h5>Recent tweets</h5>
				<ul class="tweets-msg">
					<li><a href="#">booty, 15.10.2013</a></li>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis ultrices massa. <a>Phasellus laoreet</a> consequat lorem, vel egestas tortor ultricies eu. </li>
					<li><a href="#">booty, 9.10.2013</a></li>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
				</ul>
			</div>
			<div class="section-flex-container">
				<h5>Recent Posts</h5>
				<ul>
					<li><a href="#">15.10.2013</a></li>
					<li>Maecenas et nisl pellentesque, fermentum ante facilisis, aliquet ligula. </li>
					<li><a href="#">9.10.2013</a></li>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
					<li><a href="#">9.10.2013</a></li>
					<li>Aliquam eu leo adipiscing, imperdiet arcu nec, malesuada lorem.</li>
				</ul>
			</div>
			<div class="section-flex-container">
				<h5>Photo stream</h5>
				<div class="photo-stream">
					<a href="#"><img src="../images/PhotoStream/1.png" alt=""></a>
					<a href="#"><img src="../images/PhotoStream/2.png" alt=""></a>
					<a href="#"><img src="../images/PhotoStream/3.png" alt=""></a>
					<a href="#"><img src="../images/PhotoStream/4.png" alt=""></a>
					<a href="#"><img src="../images/PhotoStream/5.png" alt=""></a>
					<a href="#"><img src="../images/PhotoStream/6.png" alt=""></a>
					<a href="#"><img src="../images/PhotoStream/7.png" alt=""></a>
					<a href="#"><img src="../images/PhotoStream/8.png" alt=""></a>
					<a href="#"><img src="../images/PhotoStream/1.png" alt=""></a>
					<a href="#"><img src="../images/PhotoStream/2.png" alt=""></a>
				</div>
			</div>
		</div>
	</div>
</section>
<footer class="footer">
	<div class="container">
	<div class="logo">
			<p class="logo__text">Parallels</p>
	</div>
	<div class="footer-text">
		<p class="more-text">2 (555) 888 555 03 20</p>
		<p class="more-text">info@domain.com</p>
		<p class="more-text">skype: username</p>
	</div>
</div>
</footer>