<section class="main__section">
	<div class="container">
	<h3>Our Services</h3>
	<div class="services">
		<div class="services__element">
			<div class="element-image">
				<img src="images/Browser.png" alt="">
			</div>
			<h4>WebDesign</h4>
			<p class = "text-regular">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quos libero placeat soluta illum neque dignissimos ea delectus autem eveniet doloremque qui, repellendus animi vel</p>
		</div>
		<div class="services__element">
			<div class="element-image">
				<img src="images/IPhone.png" alt="">
			</div>
			<h4>UIDesign</h4>
			<p class = "text-regular">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quos libero placeat soluta illum neque dignissimos ea delectus autem eveniet doloremque qui, repellendus animi vel</p>
		</div>
		<div class="services__element">
			<div class="element-image">
				<img src="images/Trash.png" alt="">
			</div>
			<h4>Prototype</h4>
			<p class = "text-regular">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quos libero placeat soluta illum neque dignissimos ea delectus autem eveniet doloremque qui, repellendus animi vel</p>
		</div>
		<div class="services__element">
			<div class="element-image">
				<img src="images/Camera.png" alt="">
			</div>
			<h4>Photography</h4>
			<p class = "text-regular">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quos libero placeat soluta illum neque dignissimos ea delectus autem eveniet doloremque qui, repellendus animi vel</p>
		</div>
		</div>
	</div>
</section>
<section class="youLike">
	<div class="container">
	<h3>Do you like this clean theme?</h3>
	<div class="youlike__buttons">
		<a href="#" class="btn">Purchase</a>
		<a href="#" class="btn">Follow</a>
	</div>
	</div>
</section>