<section class="main__section">
	<div class="container">
		<h3>Our price</h3>
		<div class="price-block">
			<div class="main-price">
				<div class="price-card">
					<h5>Website hosting</h5>
					<p class="price">$10/month</p>
					<p class="info"><strong>2x</strong> option 1</p>
					<p class="info"><strong>Free</strong> option 2</p>
					<p class="info"><strong>Unlimited</strong> option 3</p>
					<p class="info"><strong>Unlimited</strong> option 4</p>
					<p class="info"><strong>1x</strong> option 5</p>
					<a href="" class="btn">Purchase</a>
				</div>
				<div class="price-card">
					<h5>Reseller cloud</h5>
					<p class="price">$135/month</p>
					<p class="info"><strong>5x</strong> option 1</p>
					<p class="info"><strong>Free</strong> option 2</p>
					<p class="info"><strong>Unlimited</strong> option 3</p>
					<p class="info"><strong>Unlimited</strong> option 4</p>
					<p class="info"><strong>5x</strong> option 5</p>
					<a href="" class="btn">Purchase</a>
				</div>
				<div class="price-card">
					<h5>Dedicated hosting</h5>
					<p class="price">$235/month</p>
					<p class="info"><strong>10x</strong> option 1</p>
					<p class="info"><strong>Free</strong> option 2</p>
					<p class="info"><strong>Unlimited</strong> option 3</p>
					<p class="info"><strong>Unlimited</strong> option 4</p>
					<p class="info"><strong>10x</strong> option 5</p>
					<a href="" class="btn">Purchase</a>
				</div>
			</div>
			<div class="secondary-price">
				<div class="price-card">
					<h5>Website hosting</h5>
					<p class="price">$10/month</p>
					<p class="info"><strong>2x</strong> option 1</p>
					<p class="info"><strong>Free</strong> option 2</p>
					<p class="info"><strong>Unlimited</strong> option 3</p>
					<p class="info"><strong>Unlimited</strong> option 4</p>
					<p class="info"><strong>1x</strong> option 5</p>
					<a href="" class="btn">Purchase</a>
				</div>
				<div class="price-card">
					<h5>Reseller cloud</h5>
					<p class="price">$135/month</p>
					<p class="info"><strong>5x</strong> option 1</p>
					<p class="info"><strong>Free</strong> option 2</p>
					<p class="info"><strong>Unlimited</strong> option 3</p>
					<p class="info"><strong>Unlimited</strong> option 4</p>
					<p class="info"><strong>5x</strong> option 5</p>
					<a href="" class="btn">Purchase</a>
				</div>
				<div class="price-card">
					<h5>Dedicated hosting</h5>
					<p class="price">$235/month</p>
					<p class="info"><strong>10x</strong>option 1</p>
					<p class="info"><strong>Free</strong> option 2</p>
					<p class="info"><strong>Unlimited</strong> option 3</p>
					<p class="info"><strong>Unlimited</strong> option 4</p>
					<p class="info"><strong>10x</strong> option 5</p>
					<a href="" class="btn">Purchase</a>
				</div>
				<div class="price-card">
					<h5>Website hosting</h5>
					<p class="price">$10/month</p>
					<p class="info"><strong>2x</strong> option 1</p>
					<p class="info"><strong>Free</strong> option 2</p>
					<p class="info"><strong>Unlimited</strong> option 3</p>
					<p class="info"><strong>Unlimited</strong> option 4</p>
					<p class="info"><strong>1x</strong> option 5</p>
					<a href="" class="btn">Purchase</a>
				</div>
			</div>

		</div>
		<div class="aboutUs">
			<div class="line-header">
				<hr>
				<h5>Clients about us</h5>
				<hr>
			</div>
		<p class="about">Donec leo elit, dignissim eu elit vitae, aliquam tincidunt purus. Proin id risus ut sem vehicula faucibus. Fusce sed libero nec quam tempus facilisis. Vestibulum venenatis nisl ac feugiat aliquet. Sed euismod ligula arcu, et mollis est volutpat et. Aenean sed nulla placerat neque lacinia ullamcorper.</p>
		<a href="#" class="perry">#perry maliton</a>
	</div>
	</div>
</section>
<section class="youLike">
	<div class="container">
	<h1>Our team</h1>
	<h2>We a professional and progressive team</h2>
	</div>
</section>