<section class="main__section">
	<div class="container">
	<div class="tabs">
		<h3>Portfolio</h3>
  
	  <ul class="tabs__caption">
	    <li class="active">Web-design</li>
	    <li>UI Design</li>
	    <li>Prototype</li>
	    <li>Photography</li>
	  </ul>
	  
	  <div class="tabs__content active">
	  	<div class="tabs__content-element">
	    <img src="images/tabsimg-1.jpg" alt="" class="tabs__content-img">
	    <div class="element-description">
	    	<p class="description-caption">Clean night sky</p>
	    	<p class="description-text">Photography</p>
	    	<div class="like-comment">
	    		<a href="#"><span class="comments">53</span></a><a href="#"><span class="likes">230</span></a>
	    	</div>
	    </div>
	    </div>
	    <div class="tabs__content-element">
	    <img src="images/tabsimg-1.jpg" alt="" class="tabs__content-img">
	    <div class="element-description">
	    	<p class="description-caption">Clean night sky</p>
	    	<p class="description-text">Photography</p>
	    	<div class="like-comment">
	    		<span class="comments">53</span><span class="likes">230</span>
	    	</div>
	    </div>
	    </div>
	    <div class="tabs__content-element">
	    <img src="images/tabsimg-2.jpg" alt="" class="tabs__content-img">
	    <div class="element-description">
	    	<p class="description-caption">Clean night sky</p>
	    	<p class="description-text">Photography</p>
	    	<div class="like-comment">
	    		<span class="comments">53</span><span class="likes">230</span>
	    	</div>
	    </div>
	    </div>
	    <div class="tabs__content-element">
	    <img src="images/tabsimg-2.jpg" alt="" class="tabs__content-img">
	    <div class="element-description">
	    	<p class="description-caption">Clean night sky</p>
	    	<p class="description-text">Photography</p>
	    	<div class="like-comment">
	    		<span class="comments">53</span><span class="likes">230</span>
	    	</div>
	    </div>
	    </div>
	    <div class="tabs__content-element">
	    <img src="images/tabsimg-3.jpg" alt="" class="tabs__content-img">
	    <div class="element-description">
	    	<p class="description-caption">Clean night sky</p>
	    	<p class="description-text">Photography</p>
	    	<div class="like-comment">
	    		<span class="comments">53</span><span class="likes">230</span>
	    	</div>
	    </div>
	    </div>
	    <div class="tabs__content-element">
	    <img src="images/tabsimg-4.jpg" alt="" class="tabs__content-img">
	    <div class="element-description">
	    	<p class="description-caption">Clean night sky</p>
	    	<p class="description-text">Photography</p>
	    	<div class="like-comment">
	    		<span class="comments">53</span><span class="likes">230</span>
	    	</div>
	    </div>
	    </div>
	    <div class="tabs__content-element">
	    <img src="images/tabsimg-1.jpg" alt="" class="tabs__content-img">
	    <div class="element-description">
	    	<p class="description-caption">Clean night sky</p>
	    	<p class="description-text">Photography</p>
	    	<div class="like-comment">
	    		<span class="comments">53</span><span class="likes">230</span>
	    	</div>
	    </div>
	    </div>
	    <div class="tabs__content-element">
	    <img src="images/tabsimg-1.jpg" alt="" class="tabs__content-img">
	    <div class="element-description">
	    	<p class="description-caption">Clean night sky</p>
	    	<p class="description-text">Photography</p>
	    	<div class="like-comment">
	    		<span class="comments">53</span><span class="likes">230</span>
	    	</div>
	    </div>
	    </div>
	  </div>
	  
	  <div class="tabs__content">
	    <div class="tabs__content-element">
	    <img src="images/tabsimg-2.jpg" alt="" class="tabs__content-img">
	    <div class="element-description">
	    	<p class="description-caption">Clean night sky</p>
	    	<p class="description-text">Photography</p>
	    	<div class="like-comment">
	    		<span class="comments">53</span><span class="likes">230</span>
	    	</div>
	    </div>
	    </div>
	    <div class="tabs__content-element">
	    <img src="images/tabsimg-2.jpg" alt="" class="tabs__content-img">
	    <div class="element-description">
	    	<p class="description-caption">Clean night sky</p>
	    	<p class="description-text">Photography</p>
	    	<div class="like-comment">
	    		<span class="comments">53</span><span class="likes">230</span>
	    	</div>
	    </div>
	    </div>
	    <div class="tabs__content-element">
	    <img src="images/tabsimg-1.jpg" alt="" class="tabs__content-img">
	    <div class="element-description">
	    	<p class="description-caption">Clean night sky</p>
	    	<p class="description-text">Photography</p>
	    	<div class="like-comment">
	    		<span class="comments">53</span><span class="likes">230</span>
	    	</div>
	    </div>
	    </div>
	    <div class="tabs__content-element">
	    <img src="images/tabsimg-3.jpg" alt="" class="tabs__content-img">
	    <div class="element-description">
	    	<p class="description-caption">Clean night sky</p>
	    	<p class="description-text">Photography</p>
	    	<div class="like-comment">
	    		<span class="comments">53</span><span class="likes">230</span>
	    	</div>
	    </div>
	    </div>
	    <div class="tabs__content-element">
	    <img src="images/tabsimg-4.jpg" alt="" class="tabs__content-img">
	    <div class="element-description">
	    	<p class="description-caption">Clean night sky</p>
	    	<p class="description-text">Photography</p>
	    	<div class="like-comment">
	    		<span class="comments">53</span><span class="likes">230</span>
	    	</div>
	    </div>
	    </div>
	    <div class="tabs__content-element">
	    <img src="images/tabsimg-2.jpg" alt="" class="tabs__content-img">
	    <div class="element-description">
	    	<p class="description-caption">Clean night sky</p>
	    	<p class="description-text">Photography</p>
	    	<div class="like-comment">
	    		<span class="comments">53</span><span class="likes">230</span>
	    	</div>
	    </div>
	    </div>
	    <div class="tabs__content-element">
	    <img src="images/tabsimg-2.jpg" alt="" class="tabs__content-img">
	    <div class="element-description">
	    	<p class="description-caption">Clean night sky</p>
	    	<p class="description-text">Photography</p>
	    	<div class="like-comment">
	    		<span class="comments">53</span><span class="likes">230</span>
	    	</div>
	    </div>
	    </div>
	    <div class="tabs__content-element">
	    <img src="images/tabsimg-2.jpg" alt="" class="tabs__content-img">
	    <div class="element-description">
	    	<p class="description-caption">Clean night sky</p>
	    	<p class="description-text">Photography</p>
	    	<div class="like-comment">
	    		<span class="comments">53</span><span class="likes">230</span>
	    	</div>
	    </div>
	    </div>
	  </div>
	  <div class="tabs__content">
	    <div class="tabs__content-element">
	    <img src="images/tabsimg-3.jpg" alt="" class="tabs__content-img">
	    <div class="element-description">
	    	<p class="description-caption">Clean night sky</p>
	    	<p class="description-text">Photography</p>
	    	<div class="like-comment">
	    		<span class="comments">53</span><span class="likes">230</span>
	    	</div>
	    </div>
	    </div>
	    <div class="tabs__content-element">
	    <img src="images/tabsimg-3.jpg" alt="" class="tabs__content-img">
	    <div class="element-description">
	    	<p class="description-caption">Clean night sky</p>
	    	<p class="description-text">Photography</p>
	    	<div class="like-comment">
	    		<span class="comments">53</span><span class="likes">230</span>
	    	</div>
	    </div>
	    </div>
	    <div class="tabs__content-element">
	    <img src="images/tabsimg-4.jpg" alt="" class="tabs__content-img">
	    <div class="element-description">
	    	<p class="description-caption">Clean night sky</p>
	    	<p class="description-text">Photography</p>
	    	<div class="like-comment">
	    		<span class="comments">53</span><span class="likes">230</span>
	    	</div>
	    </div>
	    </div>
	    <div class="tabs__content-element">
	    <img src="images/tabsimg-1.jpg" alt="" class="tabs__content-img">
	    <div class="element-description">
	    	<p class="description-caption">Clean night sky</p>
	    	<p class="description-text">Photography</p>
	    	<div class="like-comment">
	    		<span class="comments">53</span><span class="likes">230</span>
	    	</div>
	    </div>
	    </div>
	    <div class="tabs__content-element">
	    <img src="images/tabsimg-2.jpg" alt="" class="tabs__content-img">
	    <div class="element-description">
	    	<p class="description-caption">Clean night sky</p>
	    	<p class="description-text">Photography</p>
	    	<div class="like-comment">
	    		<span class="comments">53</span><span class="likes">230</span>
	    	</div>
	    </div>
	    </div>
	    <div class="tabs__content-element">
	    <img src="images/tabsimg-3.jpg" alt="" class="tabs__content-img">
	    <div class="element-description">
	    	<p class="description-caption">Clean night sky</p>
	    	<p class="description-text">Photography</p>
	    	<div class="like-comment">
	    		<span class="comments">53</span><span class="likes">230</span>
	    	</div>
	    </div>
	    </div>
	    <div class="tabs__content-element">
	    <img src="images/tabsimg-1.jpg" alt="" class="tabs__content-img">
	    <div class="element-description">
	    	<p class="description-caption">Clean night sky</p>
	    	<p class="description-text">Photography</p>
	    	<div class="like-comment">
	    		<span class="comments">53</span><span class="likes">230</span>
	    	</div>
	    </div>
	    </div>
	    <div class="tabs__content-element">
	    <img src="images/tabsimg-3.jpg" alt="" class="tabs__content-img">
	    <div class="element-description">
	    	<p class="description-caption">Clean night sky</p>
	    	<p class="description-text">Photography</p>
	    	<div class="like-comment">
	    		<span class="comments">53</span><span class="likes">230</span>
	    	</div>
	    </div>
	    </div>
	  </div>
	  
	  <div class="tabs__content">
	    <div class="tabs__content-element">
	    <img src="images/tabsimg-4.jpg" alt="" class="tabs__content-img">
	    <div class="element-description">
	    	<p class="description-caption">Clean night sky</p>
	    	<p class="description-text">Photography</p>
	    	<div class="like-comment">
	    		<span class="comments">53</span><span class="likes">230</span>
	    	</div>
	    </div>
	    </div>
	    <div class="tabs__content-element">
	    <img src="images/tabsimg-4.jpg" alt="" class="tabs__content-img">
	    <div class="element-description">
	    	<p class="description-caption">Clean night sky</p>
	    	<p class="description-text">Photography</p>
	    	<div class="like-comment">
	    		<span class="comments">53</span><span class="likes">230</span>
	    	</div>
	    </div>
	    </div>
	    <div class="tabs__content-element">
	    <img src="images/tabsimg-2.jpg" alt="" class="tabs__content-img">
	    <div class="element-description">
	    	<p class="description-caption">Clean night sky</p>
	    	<p class="description-text">Photography</p>
	    	<div class="like-comment">
	    		<span class="comments">53</span><span class="likes">230</span>
	    	</div>
	    </div>
	    </div>
	    <div class="tabs__content-element">
	    <img src="images/tabsimg-3.jpg" alt="" class="tabs__content-img">
	    <div class="element-description">
	    	<p class="description-caption">Clean night sky</p>
	    	<p class="description-text">Photography</p>
	    	<div class="like-comment">
	    		<span class="comments">53</span><span class="likes">230</span>
	    	</div>
	    </div>
	    </div>
	    <div class="tabs__content-element">
	    <img src="images/tabsimg-2.jpg" alt="" class="tabs__content-img">
	    <div class="element-description">
	    	<p class="description-caption">Clean night sky</p>
	    	<p class="description-text">Photography</p>
	    	<div class="like-comment">
	    		<span class="comments">53</span><span class="likes">230</span>
	    	</div>
	    </div>
	    </div>
	    <div class="tabs__content-element">
	    <img src="images/tabsimg-1.jpg" alt="" class="tabs__content-img">
	    <div class="element-description">
	    	<p class="description-caption">Clean night sky</p>
	    	<p class="description-text">Photography</p>
	    	<div class="like-comment">
	    		<span class="comments">53</span><span class="likes">230</span>
	    	</div>
	    </div>
	    </div>
	    <div class="tabs__content-element">
	    <img src="images/tabsimg-3.jpg" alt="" class="tabs__content-img">
	    <div class="element-description">
	    	<p class="description-caption">Clean night sky</p>
	    	<p class="description-text">Photography</p>
	    	<div class="like-comment">
	    		<span class="comments">53</span><span class="likes">230</span>
	    	</div>
	    </div>
	    </div>
	    <div class="tabs__content-element">
	    <img src="images/tabsimg-4.jpg" alt="" class="tabs__content-img">
	    <div class="element-description">
	    	<p class="description-caption">Clean night sky</p>
	    	<p class="description-text">Photography</p>
	    	<div class="like-comment">
	    		<span class="comments">53</span><span class="likes">230</span>
	    	</div>
	    </div>
	    </div>
	  </div>
	  
	</div>
	<a href="#" class="load">Load more</a>
	</div>
</section>
<section class="youLike">
	<div class="container">
	<h1>Pricing table</h1>
	<h2>Clean beautiful flat table</h2>
	</div>
</section>